### Hidden files ###

.Rproj.user
.Rhistory
.RData
.Ruserdata

### Hidden folders ###

**00_textbooks/**
**00_additional_resources/**
**00_students/**
**00_tutor/**
**01_session01/_readings/**
**01_session01/slides_session01_files/**
**02_session02/_readings/**
**02_session02/slides_session02_files/**
**03_session03/_readings/**
**03_session03/slides_session03_files/**
**04_session04/_readings/**
**04_session04/slides_session04_files/**
**05_session05/_readings/**
**05_session05/slides_session05_files/**
**06_session06/_readings/**
**06_session06/slides_session06_files/**
**07_session07/_readings/**
**07_session07/slides_session07_files/**
**08_session08/_readings/**
**08_session08/slides_session08_files/**
**09_session09/_readings/**
**09_session09/slides_session09_files/**
**10_session10/_readings/**
**10_session10/slides_session10_files/**
**11_session11/_readings/**
**11_session11/slides_session11_files/**
**12_session12/_readings/**
**12_session12/slides_session12_files/**
**13_session13/_readings/**
**13_session13/slides_session13_files/**
**14_session14/_readings/**
**14_session14/slides_session14_files/**
# local review staging (annotated PDFs)
review/
textbooks.zip
